RPC_URL="http://localhost:26657"
FAUCET_URL="http://localhost:4500"
# For standalone test
# RPC_URL="http://checkers:26657"
# FAUCET_URL="http://cosmos-faucet:4500"
REST_URL="http://localhost:1317"
MNEMONIC_TEST_ALICE=
ADDRESS_TEST_ALICE=
MNEMONIC_TEST_BOB=
ADDRESS_TEST_BOB=